.container{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0, .3),
        rgba(0,0,0, .3)),
        url("../Media/landingback.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.text{
    color: red;
}
button{
    font-size: 1.3rem;
    border: 1px solid white;
    padding: .5rem;
    text-decoration: none !important;
    transition: all .2s;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all .5s;
    background-color: rgba(0,0,0,0)
}
.button:hover{
    transform: scale(1.1)
}
.disable {
    pointer-events: none;
    color: red !important;
    font-size: 1.3rem;
    border: 1px solid white;
    padding: .5rem;
    color: white;
    text-decoration: none !important;
    transition: all .2s;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all .5s
  }